In [11]:
import pandas as pd
import numpy as np

In [13]:
pd.Series([1, 2, 3, 'Anita', 0, np.nan, -1])

0        1
1        2
2        3
3    Anita
4        0
5      NaN
6       -1
dtype: object

In [17]:
dates = pd.date_range("20240101", periods=6)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [44]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=["A", "B", "C", "D"])
df

                   A         B         C         D
2024-01-01  0.993989  0.992015  2.515740 -0.196557
2024-01-02 -1.290618 -0.939373 -0.689439  0.100151
2024-01-03  1.210854 -0.997629  1.080336  1.006599
2024-01-04 -0.195096  0.454340  0.769530 -0.407291
2024-01-05 -1.098404 -0.604402 -0.328814  0.273142
2024-01-06 -0.888143 -0.566169 -1.351918 -0.663023

In [25]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.082755  0.254877  0.300552 -0.133097
std    1.667945  0.872697  0.598455  1.043782
min   -2.983422 -0.897454 -0.489519 -1.167400
25%   -0.402065 -0.422272 -0.093189 -0.978981
50%   -0.035133  0.607511  0.291160 -0.191685
75%    0.933191  0.713623  0.707404  0.248769
max    1.825570  1.228235  1.085663  1.598013

In [27]:
df[df["A"]>0]

                   A         B         C         D
2024-01-01  1.825570 -0.765076  0.259923  0.316288
2024-01-05  0.133840 -0.897454 -0.489519 -1.167400
2024-01-06  1.199641  1.228235  0.322397  0.046212

## Read and Write opera

In [46]:
df.to_csv("/tmp/mycsv.csv", index=False)

In [56]:
df.to_excel("/tmp/mycsv.xlsx", index=False)